* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #f5f7fe;
    --green: #4caf50;
    --light-blue: #418bca;
    --dark-blue: #33485d;
    --primary-dark: #1e2436;
    --bg-dark: #121212;
    --bg-color: #f5f7fe;
}

body {
    background-color: var(--dark-blue);
    color: #fff;
}

nav {
    background-color: var(--primary-dark);
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.301);
}

h1 {
    text-align: center;
    padding: 10px;
}

.logout {
    background-color: transparent;
    color: white;
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 1.001em;
}

.logout img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    transform: rotate(180deg);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--light-blue);
}

table tr:hover {
    background-color: var(--bg-dark);
    color: #fff;
    cursor: pointer;
}