* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #f5f7fe;
    --green: #4caf50;
    --light-blue: #418bca;
    --dark-blue: #33485d;
    --primary-dark: #1e2436;
    --bg-dark: #121212;
    --bg-color: #f5f7fe;
}

body {
    background-color: var(--dark-blue);
    color: #fff;
}

h1 {
    text-align: center;
    padding: 20px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    gap: 30px;
}


.white-box {
    color: #33485d;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-box:hover {
    background-color: #ededed;
}

.white-box i {
    margin-bottom: 25px;
    font-size: 30px;
}

a {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}