* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #f5f7fe;
    --green: #4caf50;
    --light-blue: #418bca;
    --dark-blue: #33485d;
    --primary-dark: #1e2436;
    --bg-dark: #121212;
    --bg-color: #f5f7fe;
}

body {
    background-color: var(--dark-blue);
}

h1 {
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

nav {
    padding: 20px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* ----- INPUT ------ */
input {
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus,
select:focus {
    outline: none;
}

button {
    border: none;
}

/* ---- BUTTON ----- */
.btn {
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.blue-btn {
    background-color: var(--light-blue);
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.blue-btn:hover {
    background-color: #0069d9;
}