* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #f5f7fe;
    --green: #4caf50;
    --light-blue: #418bca;
    --dark-blue: #33485d;
    --primary-dark: #1e2436;
    --bg-dark: #121212;
    --bg-color: #f5f7fe;
}

/* ----- INPUT ------ */
input {
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus,
select:focus {
    outline: none;
}

button {
    border: none;
}

/* ---- BUTTON ----- */
.btn {
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.blue-btn {
    background-color: var(--light-blue);
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.blue-btn:hover {
    background-color: #0069d9;
}

.dark-btn {
    background-color: var(--dark-blue);
    color: white;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.flex-start {
    align-items: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.g-10 {
    gap: 10px;
}

.g-20 {
    gap: 20px;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.rtl {
    direction: rtl;
}

.mt-10 {
    margin-top: 10px;
}

.icon-30 {
    width: 30px;
}